
<div class="setting">
    <h1 class="title">SETTINGS</h1>
 
    <div class="setting-grid">
 
     <div class="grid1">
       <h4 class="grid-title">General</h4>
       <p class="grid-description">Personnel Settings</p>
     </div>
     <div class="grid1">
       <h4 class="grid-title">General</h4>
       <p class="grid-description">Personnel Settings</p>
     </div>
     <div class="grid1">
       <h4 class="grid-title">General</h4>
       <p class="grid-description">Personnel Settings</p>
     </div>
     <div class="grid1">
       <h4 class="grid-title">General</h4>
       <p class="grid-description">Personnel Settings</p>
     </div>
    </div>
   </div>
 