.setting {
    background-color: #fafbfc;
    padding: 30px;
    height: 92vh;
}

.setting-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.title {
    color: #2c6291;
    font-weight: 200;
    padding-left: 40px;
}
.grid1 {
    width: 30%;
    background-color: #fff;
    margin-left: 3%;
    margin-bottom: 2%;
    padding: 12px 12px 50px;
    border: 1px solid #d2d6dd;
}
.grid1 .title {
    color: #2c6291;
    margin-top: 0px;
    padding: 0px;
    font-weight: 500;
    margin-bottom: 5px;
}

.description {
    color: #9ba3b2;
    margin-top: 0px;
    margin-bottom: 5px;
}

