
<div [class]="pageData.class" [style]="{'background-color'pageData.backgroundColor}">
    <h1 [class]="pageData.title.class" [style]="{'color': pageData.title ? pageData.title.color  : '#000'}">{{pageData.title.name}}</h1>


    <div class="setting-grid" >
     <div [class]="grid.class" [style]="{'border-color': grid.class ? grid.bordercolor : '#000'}" *ngFor="let grid of pageData.grid">
       <h4 [class]="grid.class2" [style]="{'color': grid.class2 ? grid.color  : '#000'}">{{grid.title}}</h4>
       <p [class]="grid.class3" [style]="{'color': grid.smalltitle }" >{{grid.description}}</p>
     </div>
    </div>
   </div>
 